* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Open Sans', serif;
  line-height: 150%;
  color: #333333;
  font-size: 16px;
}

body {
  background-color: #f5f4f0;
}

#page {
  background-color: #f5f4f0;
  height: auto;
  width: 1120px;
  box-sizing: border-box;
  margin: 88px auto 65px;
}

#introduction {
  margin-bottom: 40px;
}

#introduction h1 {
  margin-top: 8px;
  margin-bottom: 40px;
}

#introduction img {
  margin-bottom: 24px;
  width: 100%;
  border-radius: 28px;
}

#introduction p {
  margin-bottom: 4px;
  text-align: center;
  font-style: italic;
}

#about {
  border-top: 1px solid #d9d9d9;
  padding-top: 64px;
}

#about h2 {
  margin-top: 8px;
  margin-bottom: 14px;
}

#about p {
  margin-bottom: 64px;
}

#one,
#two,
#three {
  margin-bottom: 48px;
}

#one img,
#two img,
#three img {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 28px;
  object-fit: cover;
}

#one h3,
#two h3,
#three h3 {
  margin-bottom: 10px;
}

#one ul,
#two ul,
#three ul {
  padding-left: 20px;
}

#four {
  border-top: 1px solid #d9d9d9;
  padding-top: 40px;
}

#four p {
  text-align: center;
}

.headline {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: #1b1b1b;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  color: #1b1b1b;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  color: #1b1b1b;
  font-size: 28px;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.bullet {
  font-weight: bold;
}

ul li::marker {
  color: #333333;
}

footer {
  text-align: center;
  margin-bottom: 48px;
}

footer img {
  vertical-align: middle;
}
